.section{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color:#e9ffde;
    padding:10px;
    margin:10px;   
    box-shadow:0 0 4px;
}
img{
    width:300px;
}