.navContent{
    display:flex;
    justify-content:center;
    background-color:#ECFAE5 ;
    height:35px;
    box-shadow:0 0 6px;
}


ul{
    display: flex;    
    gap:30px;
}

a{
    text-decoration: none;
    color:#1A2A80;
    transition:0.2s;
}

a:hover{
    // border-bottom:2px solid rgb(115, 158, 201) ;
    color: #4e4acf;
    font-size: large;
}