<header>

    <nav>
        
        <div class="navContent">
    <ul
    class="nav mt-2"
    >

        <li class="">
            <a href="#" class="" aria-current="page"
            routerLink="/artist"
            >Dashboard</a
            >
        </li>
        <li class="">
            <a href="#" class="">Link</a>
        </li>
        
        
        <li class="">
            <a href="#" class=" position-relative" routerLink="tickets">Ticket <i class="fa-solid fa-ticket"></i>
              
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger ms-2 ">
                  {{artist.tikets.length}}
              </span>
          </a>
        </li>
    </ul>
</div>

</nav>

</header>